* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #222;
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #2c3e50;
  color: #fff;
}

.logo {
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

section {
  padding: 60px 30px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#home {
  background: #f4f4f4;
}

#home img{
    width: 120px;
    height: 120px;
    border-radius: 35%;
    object-fit: cover;
    margin-bottom: 15px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #2c3e50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #1a252f;
}

#skills {
  list-style: none;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
 
#skills li {
  background: #2c3e50;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.9rem;
}

#toolslist {
  list-style: none;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
 
#toolslist li {
  background: #2c3e50;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.9rem;
}

#projects {
  display: grid;
  margin-top: 15px;
  gap: 15px;
}

#projects div{
  background: #f4f4f4;
  padding: 15px;
  transition: 0.3s;
  border-radius: 8px;
}

#projects div:hover{
  background: #cec7c7;
  transform: translateY(-3px);
}

#projects a {
  text-decoration: none;
  color: #2c3e50;
}


#projects a:hover {
  text-decoration: underline;
}

.login-container,
.contact-container {

    max-width:400px;
    margin:50px auto;
    padding:30px;

}


input,
textarea {

    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:5px;
    border:1px solid #ccc;

}

footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: #fff;
}


@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
